name: DAST 

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  dast:
    runs-on: ubuntu-latest
    name: DAST on Prem Testing Action
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Create Output folder
        run: mkdir ${{ runner.temp }}/output
      - name: Change dir owner
        run: sudo chown -R 1000:1000 ${{ runner.temp }}/output
      - name: Run DAST-CLI command
        env:
          CX_APIKEY: ${{ secrets.CX_APIKEY }}
        run: |
           docker run --pull=always \
           -v ${{ runner.temp }}/output:/tmp \
           -e CX_APIKEY="$CX_APIKEY" \
           checkmarx/dast:latest \
           web \
           scan \
           --configFull='./security_tweets.yaml' \
           --environment-id=e2f832dc-7ff0-4316-8114-62e794ae7d36 \
           --base-url=https://ind.ast.checkmarx.net \
           --output=/tmp
           
      - name: Set permission on output folder
        run: |
         sudo chown -R 1001:1001 ${{ runner.temp }}/output
      - name: Upload ZAP output
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        if: always()
        with:
          name: zap-output
          path: ${{ runner.temp }}/output
